@font-face {
	font-family: "bjorken";
	src: url("fonts/bjorken.otf");
	}
	


#container{
	font-family: bjorken;
	font-size: 50;
	text-align: center;
	}



.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}
	
	

.index-link  {
text-decoration:none;}


.grow { 
transition: all .2s ease-in-out; 
}

.grow:hover { 
transform: scale(1.05); 
}




